<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="detail-head">
        <img class="img-detail" src="Assets/mekdoy.png" alt="">
        <div class="vl"></div>
        <div class="detail-head-container">
            <h3 class="">Mekdoy</h3>
            <p class="detail-street">Jln Pandeglang no 19 Surabaya</p>
            <p>Rate: 4⭐️</p>
            <p>Category: Modern</p>
            <p class="detail-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, quaerat ut! Voluptas, ab! Mollitia ratione totam ea asperiores consectetur ut optio dolorem eveniet. Sint iste autem illo, error commodi adipisci.</p>
        </div>
    </div>
    <div class="detail-menu">
        <h3>Menu</h3>
        <hr>
        <div class="detail-menu-eat">
            <div class="detail-food">
                <h3>Food</h3>
                <div class="detail-menu-card"> <p>Ikan teri dan roti</p> </div>
            </div>
            <div class="detail-beverage">
                <h3>Beverage</h3>
                <div class="detail-menu-card"> <p>Ikan teri dan roti</p> </div>
            </div>
        </div>
    </div>
    <div class="detail-review">
        <h3>Customer's Review</h3>
        <hr>
        <div>
            <div class="detail-comment">
                <p>From: Fadli</p>
                <p class="comment-date">13 Juli 2019</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus rem incidunt officia aut earum eos qui debitis sapiente vel minima</p>
            </div>
            <div class="div-comment">
                <button id="add-comment">Add Review</button>
            </div>
        </div>
    </div>
</body>
</html>


<button aria-label="like this movie" id="likeButton" class="like">
    <i class="fa fa-heart-o" aria-hidden="true"></i>
</button>