<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps Starter Project</title>
    <!-- <link rel="stylesheet" href="../styles/main.css"> -->
    <script
      src="https://kit.fontawesome.com/c0f7e988b7.js"
      crossorigin="anonymous"
    ></script>
    
</head>
<body>
    <a href="#maincontent" class="skip-link" tabindex="0">Skip to Content</a>
    
    <nav id="drawer" class="nav">
        <a href="#/main" tabindex="0">
            <img alt="Ja-Food-putih">
        </a>
        <button class="burger" tabindex="0" id="mobile-menu" aria-label="navigation-menu">    
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </button>
        <ul class="nav__list nav-links">
            <li class="nav__item"><a href="#/main">Home</a></li>
            <li class="nav__item"><a href="#/restaurant">Restaurant</a></li>
            <li class="nav__item"><a href="#/like">Favorite</a></li>
            <li class="nav__item"><a href="https://github.com/zhaardhia">About</a></li>
        </ul>  
    </nav>
    <header id="hero-banner">
        <!-- <div class="banner">
            <div class="hero-text">
                <h2>Craving For Food or Beverages?<br> Wanna Try Something New?</h2>
                <p>Checkout our best list of restaurant. We are ready to serve you.</p>
            </div>
        </div> -->
    </header>
    <main id="maincontent">
        <!-- <section class="category-restaurant">
            <h3>Category</h3>
            <hr>
            <div class="category-div">
                <div tabindex="0" class="category-list">
                    <img src="https://i.ibb.co/3rXpdrz/mekdoy.png" alt="mekdoy">
                    <h4>Fast Food</h4>
                </div>
                <div tabindex="0" class="category-list">
                    <img src="https://i.ibb.co/f2LHGMz/warmindo.png" alt="warmindo">
                    <h4>Cafe</h4>
                </div>
                <div tabindex="0" class="category-list">
                    <img src="https://i.ibb.co/S5yNB12/haji-Slamet.png" alt="haji-Slamet">
                    <h4>Western</h4>
                </div>
                <div tabindex="0" class="category-list">
                    <img src="https://i.ibb.co/6N16xW7/bakmi-Kidung.png" alt="bakmi-Kidung">
                    <h4>Asian</h4>
                </div>
            </div>
        </section> -->
        <!-- <section class="promo-banner">
            <img alt="Ja-Food-I-item">
            <p>Craving for discount?<br>Get 10% promo discount<br>by invite your friends to JaFood</p>
        </section> -->
        <!-- <section class="top-restaurant">
            <h3 class="top-restaurant-title">Top Restaurant</h3>
            <hr>
            <div class="top-div">
               
            </div>
        </section> -->
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-container-first">
                <a href="#/main">
                    <img alt="Ja-Food-putih">
                </a>
                <div>
                    <h4>JaFood Jaya Abadi</h4>
                    <p>
                        Jl. Batik Kumeli No.50, Sukaluyu,<br>
                        Kec. Cibeunying Kaler, Kota Bandung<br>
                        Jawa Barat 40123
                    </p>
                </div>
            </div>
            <div class="footer-container-second">
                <h4>Menu</h4>
                <a href="#/main">Home</a>
                <a href="#/restaurant">Restaurant</a>
                <a href="#/like">Favorite</a>
                <a href="https://github.com/zhaardhia">About Us</a>
            </div>
            <div class="footer-container-third">
                <h4>Socials</h4>
                <div>
                    <a href="https://instagram.com">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://twitter.com">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://facebook.com">
                        <i class="fab fa-facebook"></i>
                    </a>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright &copy; 2021 - JaFood Jaya Abadi</p>
        <!-- <Footer></Footer> -->
    </footer>
</body>
</html>
