.promo-banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 4rem 0;
    img{
        width: 300px;
        height: auto;
    }
    p{
        font-size: 1.4rem;
        margin-top: 4rem;
    }
    @media screen and (min-width: 200px) {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 180px;
        }
        p{
            font-size: 1rem;
            margin-top: 2.4rem;
        }
    }
    @media screen and (min-width: 550px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        width: 30rem;
        img{
            width: 250px;
        }
        p{
            font-size: 1.2rem;
            margin-top: 0rem;
        }
    }
    @media screen and (min-width: 800px) {
        width: 32rem;
        img{
            width: 270px;
        }
        p{
            font-size: 1.2rem;
        }
    }
    @media screen and (min-width: 1200px) {
        width: 40rem;
        margin-left: 2rem;
        img{
            width: 300px;
        }
        p{
            font-size: 1.4rem;
            margin-top: 0;
        }
    }
}