*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}
$ijoTua: #5E8B7E;
$ijoMuda: #DFEEEA;

@mixin hover (){
    &{
        transition: all 0.2s linear;
    }
    &:hover{
        color: darken($ijoMuda, 10%);
    }
    &:active{
        color: darken($ijoMuda, 20%);;
    }
}
@mixin hoverBurger (){
    &{
        transition: all 0.2s linear;
    }
    &:hover{
        background-color: darken($ijoMuda, 10%);
    }
    &:active{
        background-color: darken($ijoMuda, 20%);;
    }
}
@mixin hoverCard(){
    &{
        transition: all 0.2s linear;
        cursor: pointer;
    }
    &:hover{
        transform: translateY(5px);
        box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
    }
}
.skip-link {
    position: absolute;
    top: -50px;
    left: 0;
    background-color: #bf1722;
    color: white;
    padding: 8px;
    z-index: 100;    
}
  
.skip-link:focus {
    top: 0;
}
a, button{
    box-sizing: border-box;
    min-width: 44px;
    min-height: 44px;
}

.nav-links{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    a{
        color: white;
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 1.2rem;
        padding: 1.3rem;
        @include hover();
    }
}
.burger{
    padding: 1rem;
    display: none;
    cursor: pointer;
    margin-bottom: 1.5rem;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
    @include hoverBurger();
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and(max-width: 600px) {
    .nav-links{
        width: 60%;
    }
}
@media screen and(max-width: 855px) {
    body{
        overflow-x: hidden;
    }
    
    .nav-links{
        z-index: 1;
        // position: absolute;
        // right: 0px;
        // height: 92vh;
        // top: 8vh;
        position: absolute;
        right: 0px;
        top: 0rem;
        height: 40rem;

        background-color: #2F5D62;
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        // transition: transform 1s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        z-index: 2;
        display: block;
        margin-top: 1rem;
        background-color: rgba($color: #2F5D62, $alpha: 0);
        
        border: 0;
    }
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.6s;
    z-index: 10;
    img{
        position: relative;
        width: 150px;
        transition: 0.6s;
    }
    ul{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        li{
            position: relative;
            list-style: none;
            a{
                position: relative;
                margin: 0 15px;
                text-decoration: none;
                color: white;
                letter-spacing: 2px;
                font-size: 1.3rem;
                transition: 0.6s;
            }
        }
    }
}
.sticky{
    padding: 5px 50px;
    background-color: rgba(29, 29, 29, 0.8);
}
@import 'bannerHero';

main{
    display: grid;
    justify-items: center;

    @import 'promoBanner';
    @import 'loadingAnimation';
    @import 'topRestaurant';
    @import 'modalReview';
}
.error-load-page {
    font-size: 1.6rem;
    font-weight: 400;
    color: #721714;
    text-align: center;
}
// Detail CSS

@import 'detailMenu';
@import 'likeButton';
@import 'footer';